# ignore debug files
bin/*
#/bin/Debug/netcoreapp3.0/

#ignore obj files
obj/*

#/obj/Debug/netcoreapp3.0/DutchTreat.csprojAssemblyReference.cache

#node_modules
node_modules/*

#Data/DB
Data/DB/DutchTreatSqlite.db